<!DOCTYPE html>
<html>
  <head>
    <title>Ada Rulez!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Ada Books!</h1>
      <p>
        <% if @user  %>
          <%= "Welcome #{@user.name}" %>
        <% else %>
          <%= link_to "Log in With Github", "/auth/github" %>
        <% end %>
      </p>
    </header>
    <section class="flash">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
     </section>

    <%= yield %>
  </body>
</html>
